<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE opencms SYSTEM "http://www.opencms.org/dtd/6.0/opencms-importexport.dtd">

<opencms>
	<importexport>
		<importexporthandlers>
			<importexporthandler
				class="org.opencms.importexport.CmsVfsImportExportHandler" />
			<importexporthandler
				class="org.opencms.module.CmsModuleImportExportHandler" />
		</importexporthandlers>
		<import>
			<overwrite>true</overwrite>
			<convert>true</convert>
			<importversions>
				<importversion class="org.opencms.importexport.CmsImportVersion2" />
				<importversion class="org.opencms.importexport.CmsImportVersion3" />
				<importversion class="org.opencms.importexport.CmsImportVersion4" />
				<importversion class="org.opencms.importexport.CmsImportVersion5" />
				<importversion class="org.opencms.importexport.CmsImportVersion6" />
				<importversion class="org.opencms.importexport.CmsImportVersion7" />
			</importversions>
			<immutables>
				<resource uri="/system/" />
				<resource uri="/system/categories/" />
				<resource uri="/system/galleries/" />
				<resource uri="/system/galleries/download/" />
				<resource uri="/system/galleries/externallinks/" />
				<resource uri="/system/galleries/htmlgalleries/" />
				<resource uri="/system/galleries/pics/" />
				<resource uri="/system/login/" />
				<resource uri="/system/modules/" />
				<resource uri="/system/shared/" />
				<resource uri="/system/workplace/" />
				<resource uri="/system/workplace/admin/" />
				<resource uri="/system/workplace/help/" />
				<resource uri="/system/workplace/locales/" />
				<resource uri="/system/workplace/resources/" />
				<resource uri="/system/workplace/restypes/" />
				<resource uri="/system/workplace/scripts/" />
				<resource uri="/system/workplace/templates/" />
				<resource uri="/system/workplace/views/" />
				<resource uri="/sites/" />
			</immutables>
			<principaltranslations />
			<ignoredproperties />
		</import>
	</importexport>
	<staticexport enabled="true">
		<staticexporthandler>org.opencms.staticexport.CmsOnDemandStaticExportHandler</staticexporthandler>
		<linksubstitutionhandler>org.opencms.staticexport.CmsDefaultLinkSubstitutionHandler</linksubstitutionhandler>
		<exportpath>export</exportpath>
		<exportworkpath>temp</exportworkpath>
		<exportbackups>2</exportbackups>
		<defaultpropertyvalue>false</defaultpropertyvalue>
		<defaultsuffixes>
			<suffix key=".jpg" />
			<suffix key=".gif" />
			<suffix key=".png" />
			<suffix key=".doc" />
			<suffix key=".xls" />
			<suffix key=".ppt" />
			<suffix key=".docx" />
			<suffix key=".xlsx" />
			<suffix key=".pptx" />
			<suffix key=".pdf" />
			<suffix key=".txt" />
			<suffix key=".css" />
			<suffix key=".zip" />
			<suffix key=".swf" />
	<% if !node['opencms']['file-suffix'].nil? %>
		<% if node['opencms']['file-suffix'].respond_to? :each %>
			<% node['opencms']['file-suffix'].each do |suffix|%>
			<suffix key="<%=suffix%>" />
			<% end %>
		<% end %>
	<% end %>	
		</defaultsuffixes>
		<rendersettings>
			<rfs-prefix>${CONTEXT_NAME}/export</rfs-prefix>
			<vfs-prefix><%=node['opencms']['vfs-prefix']%></vfs-prefix>
			<userelativelinks>false</userelativelinks>
			<exporturl>http://127.0.0.1:8080${CONTEXT_NAME}/handle404</exporturl>
			<plainoptimization>true</plainoptimization>
			<testresource uri="/system/shared/page.dtd" />
			<resourcestorender>
				<regex>/sites/.*</regex>
				<regex>/system/workplace/commons/style/.*</regex>
				<regex>/system/galleries/.*</regex>
				<regex>/system/modules/.*/resources/.*</regex>
			</resourcestorender>
		</rendersettings>
	</staticexport>
	<usercsvexport>
		<separator>;</separator>
		<columns>
			<column>description</column>
			<column>lastname</column>
			<column>firstname</column>
			<column>email</column>
			<column>address</column>
			<column>zipcode</column>
			<column>city</column>
			<column>country</column>
			<column>USERPREFERENCES_workplace-startupsettingssite</column>
			<column>USERPREFERENCES_workplace-startupsettingslocale</column>
			<column>password</column>
		</columns>
	</usercsvexport>
	<repositories>
		<repository name="standard" class="org.opencms.repository.CmsRepository">
			<params>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceExtensionWrapperJsp</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceExtensionWrapperXmlContent</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceExtensionWrapperXmlPage</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperSystemFolder</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperPropertyFile</param>
			</params>
			<filter type="include">
				<regex>/</regex>
				<regex>/__properties/.*</regex>
				<regex>/sites/.*</regex>
				<regex>/system/</regex>
				<regex>/system/__properties/.*</regex>
				<regex>/system/galleries/.*</regex>
				<regex>/system/modules/.*</regex>
				<regex>/system/workplace/.*</regex>
			</filter>
		</repository>
		<repository name="extended" class="org.opencms.repository.CmsRepository">
			<params>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceExtensionWrapperJsp</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceExtensionWrapperXmlContent</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperXmlPage</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperSystemFolder</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperPropertyFile</param>
			</params>
			<filter type="include">
				<regex>/</regex>
				<regex>/__properties/.*</regex>
				<regex>/sites/.*</regex>
				<regex>/system/</regex>
				<regex>/system/__properties/.*</regex>
				<regex>/system/galleries/.*</regex>
				<regex>/system/modules/</regex>
				<regex>/system/modules/[^/]*/</regex>
				<regex>/system/modules/[^/]*/__properties/.*</regex>
				<regex>/system/modules/[^/]*/resources/.*</regex>
			</filter>
		</repository>
		<repository name="cmis-offline" class="org.opencms.cmis.CmsCmisRepository">
			<params>
				<param name="project">Offline</param>
				<param name="description">Offline project CMIS repository</param>
				<param name="index">Solr Offline</param>
			</params>
		</repository>
		<repository name="cmis-online" class="org.opencms.cmis.CmsCmisRepository">
			<params>
				<param name="project">Online</param>
				<param name="description">Online project CMIS repository</param>
				<param name="index">Solr Online</param>
			</params>
		</repository>
		<repository name="OPENCMS" class="org.opencms.jlan.CmsJlanRepository">
			<params>
				<param name="project">Offline</param>
				<param name="root">/</param>
				<param name="addBOM">false</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperPreventCreateNameCI:thumbs.db|.thumbnails|.xvpics|.DS_Store</param>
				<param name="wrapper">org.opencms.file.wrapper.CmsResourceWrapperReplaceDeleted</param>
			</params>					
		</repository>
	</repositories>
</opencms>
