<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE opencms SYSTEM "http://www.opencms.org/dtd/6.0/opencms-system.dtd">

<opencms>
  <system>
    <internationalization>
      <localehandler class="org.opencms.i18n.CmsDefaultLocaleHandler"/>
      <localesconfigured>
	<% if !node['opencms']['localesconfigured'].nil? %>
		<% if node['opencms']['localesconfigured'].respond_to? :each %>
			<% node['opencms']['localesconfigured'].each do |locale|%>
        <locale><%=locale%></locale>
			<% end %>
		<% end %>
	<% end %>
      </localesconfigured>
      <localesdefault>
	<% if !node['opencms']['localesdefault'].nil? %>
		<% if node['opencms']['localesdefault'].respond_to? :each %>
			<% node['opencms']['localesdefault'].each do |locale|%>
        <locale><%=locale%></locale>
			<% end %>
		<% end %>
	<% end %>
      </localesdefault>
      <timezone>GMT+01:00</timezone>
    </internationalization>
    <mail>
      <mailfrom>nobody@nowhere.com</mailfrom>
      <mailhost name="my.smtp.server" port="25" protocol="smtp" user="username" password="secure"/>
      <mailhost name="alternative.smtp.server" port="25"/>
      <mailhost name="another.alternative.smtp.server" port="25"/>
    </mail>
    <scheduler><% if !node['opencms']['scheduled-job'].nil? %>
<%=node['opencms']['scheduled-job']%>
<% end %>    </scheduler>
    <versionhistory enabled="true" count="10" deleted="4"/>
    <resourceinit>
      <resourceinithandler class="org.opencms.file.history.CmsHistoryResourceHandler"/>
      <resourceinithandler class="org.opencms.main.CmsPermalinkResourceHandler"/>
      <resourceinithandler class="org.opencms.workplace.CmsWorkplaceLoginHandler"/>
      <resourceinithandler class="org.opencms.ade.detailpage.CmsDetailPageResourceHandler"/>
      <resourceinithandler class="org.opencms.main.CmsAliasResourceHandler"/>
      <resourceinithandler class="org.opencms.pdftools.CmsPdfResourceHandler"/>
    </resourceinit>
    <requesthandlers>
      <requesthandler class="org.opencms.main.OpenCmsSolrHandler"/>
      <requesthandler class="org.opencms.main.OpenCmsSpellcheckHandler"/>
    </requesthandlers>
    <passwordhandler class="org.opencms.security.CmsDefaultPasswordHandler">
      <encoding>UTF-8</encoding>
      <digest-type>scrypt</digest-type>
      <param name="compatibility.convert.digestencoding">false</param>
      <param name="scrypt.settings">16384,8,1</param>
    </passwordhandler>
    <validationhandler class="org.opencms.security.CmsDefaultValidationHandler"/>
    <sites>
      <workplace-server><%=node['opencms']['workplace-server']%></workplace-server>
      <default-uri><%=node['opencms']['default-uri']%></default-uri>
      <shared-folder><%=node['opencms']['shared-folder']%></shared-folder>
	<% if !node['opencms']['sites'].nil? %>
		<% if node['opencms']['sites'].respond_to? :each %>
			<% node['opencms']['sites'].each do |site|%>
      <site server="<%=site['server']%>" uri="<%=site['uri']%>"
      <% if !site['position'].nil? %>
      position="<%=site['position']%>"
      <% end %>
      <% if !site['title'].nil? %>
      title="<%=site['title']%>"
      <% end %>
      <% if !site['webserver'].nil? %>
      webserver="<%=site['webserver']%>"
      <% end %> />
			<% end %>
		<% end %>
	<% end %>

    </sites>
    <runtimeproperties>
      <param name="compatibility.support.oldlocales">false</param>
      <param name="compatibility.support.webAppNames">/opencms/opencms/</param>
    </runtimeproperties>
    <runtimeclasses>
      <runtimeinfo class="org.opencms.db.CmsDbContextFactory"/>
    </runtimeclasses>
    <defaultusers>
      <user-admin>Admin</user-admin>
      <user-guest>Guest</user-guest>
      <user-export>Export</user-export>
      <group-administrators>Administrators</group-administrators>
      <group-projectmanagers>Projectmanagers</group-projectmanagers>
      <group-users>Users</group-users>
      <group-guests>Guests</group-guests>
    </defaultusers>
    <defaultcontentencoding>UTF-8</defaultcontentencoding>
    <memorymonitor class="org.opencms.monitor.CmsMemoryMonitor">
      <maxusagepercent>90</maxusagepercent>
      <log-interval>600</log-interval>
      <email-interval>43200</email-interval>
      <warning-interval>43200</warning-interval>
    </memorymonitor>
    <flexcache>
      <cache-enabled>true</cache-enabled>
      <cache-offline>false</cache-offline>
      <maxcachebytes>80000000</maxcachebytes>
      <avgcachebytes>60000000</avgcachebytes>
      <maxentrybytes>4000000</maxentrybytes>
      <maxkeys>5000</maxkeys>
    </flexcache>
    <http-authentication>
      <browser-based>true</browser-based>
    </http-authentication>
    <resultcache>
      <keygenerator>org.opencms.db.CmsCacheKey</keygenerator>
      <size-users>64</size-users>
      <size-groups>64</size-groups>
      <size-orgunits>64</size-orgunits>
      <size-usergroups>256</size-usergroups>
      <size-projects>32</size-projects>
      <size-projectresources>64</size-projectresources>
      <size-resources>8192</size-resources>
      <size-resourcelists>256</size-resourcelists>
      <size-properties>1024</size-properties>
      <size-propertylists>1024</size-propertylists>
      <size-accesscontrollists>1024</size-accesscontrollists>
      <size-permissions>1024</size-permissions>
    </resultcache>
    <content-notification>
      <notification-time>365</notification-time>
      <notification-project>Offline</notification-project>
    </content-notification>
    <authorizationhandler class="org.opencms.security.CmsDefaultAuthorizationHandler"/>
    <publishmanager>
      <history-size>100</history-size>
      <queue-persistance>true</queue-persistance>
      <queue-shutdowntime>1</queue-shutdowntime>
    </publishmanager>
    <session-storageprovider class="org.opencms.main.CmsDefaultSessionStorageProvider"/>
    <permissionhandler class="org.opencms.security.CmsDefaultPermissionHandler"/>
    <servletcontainer-settings mode="auto"/>
    <ade>
      <configuration class="org.opencms.xml.containerpage.CmsADEDefaultConfiguration"/>
      <ade-cache>
        <containerpages offline="1024" online="1024"/>
        <groupcontainers offline="64" online="64"/>
      </ade-cache>
    </ade>
    <subscriptionmanager enabled="true" poolname="default" maxvisited="100"/>
  </system>
</opencms>
